@font-face {
    font-family: 'lato';
    src: url(../styles/fonts/lato/lato-regular.eot);
    src: url(../styles/fonts/lato/lato-regular.woff) format('woff'),
         url(../styles/fonts/lato/lato-regular.ttf) format('truetype');
}

@font-face {
    font-family: 'source-sans-pro';
    src: url(../styles/fonts/source-sans-pro/SourceSansPro-Regular.ttf) format('truetype');
}

.navBar {
    min-width: 1500px;
    overflow: hidden;
    background-color: #272727;
}

.navBarHeader {
    float:left;
    font-size: 22px;
    font-weight: bold;
    background-color: #272727;
    color: rgb(228, 231, 228);
    text-align: center;
    min-width: 200px;
    line-height: 60px;
    height: 60px;
    padding: 0px 18px;
}

.navBar a {
    float:left;
    /* font-size: 20px; */
    color: white;
    text-align: center;
    min-width: 150px;
    line-height: 60px;
    height: 60px;
    padding: 0px 20px;
    vertical-align: middle;
    font-family: 'source-sans-pro', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.divider-dash {
    min-height: 2px;
    background-color: #FFE400;
}
/* Dropdown menu */
.dropDown {
    float:left;
    overflow: hidden;
    display: block;
    background-color: #272727;
}

.dropDown .dropBtn {
    font-size: 20px;  
    border: none;
    outline: none;
    background-color: #272727;
    color: white;
    text-align: center;
    padding: 0px 20px;
    min-width: 150px;
    line-height: 60px;
    height: 60px;
    vertical-align: middle;
    font-family: 'source-sans-pro', Arial, Helvetica, sans-serif;
}

.dropDownContent {
    /* float: none; */
    display: none;
    position: absolute;
    background-color: #272727;
    /* padding: 0px 20px; */
    line-height: 60px;
    height: 60px;
    vertical-align: middle;
    z-index: 1;
}

.dropDownContent a {
    float: none;
    font-size: 16px;  
    color: white;
    /* padding: 12px 16px; */
    display: block;
    background-color: #272727;
    max-width: 200px;
    text-align: left;
}
.visualize a{
    font-size: 22px;
    background-color: #FFE400;
    color: #272727;
}

.clearGrid a {
    font-size: 20px;
    background-color: #272727;
    color: white;
}

.clearPath a {
    font-size: 20px;
    background-color: #272727;
    color: white;
}

.visualize a:hover {
    font-weight: bold;
    color: purple;
}

.navBarHeader a:hover, .clearGrid a:hover, .clearPath a:hover, .dropDown:hover .dropBtn {
    color: #FFE400;
}

.dropDownContent a:hover {

    /* margin: 5px; */
    outline: 1px solid #FFE400;
    color: #FFE400;
}

.dropDown:hover .dropDownContent {
    display: block;
    background-color: #272727;
}

.arrow {
    border: solid rgb(228, 231, 228);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 8px;
    margin-bottom: 4px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}